.log-alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-log-alignment{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40vw;
}

.log-form-style{
    min-width: 40vw;
}

.log-btn-style{
    width: 125px;
}