<!DOCTYPE html>
<!-- using templates lets me use jinja inside html (replacing javascript) -->
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->
    <!-- website/templates/node_modules/bootstrap/dist/css/bootstrap.min.css -->
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='node_modules/bootswatch/dist/lux/bootstrap.min.css') }}"  
    />
    
    <link 
      rel="stylesheet" 
      href="{{ url_for('static', filename='css/login.css') }}"  
    />

    <!-- fac node modules folder static -> express static cu nodem odules -->
    
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    /> 

    <!-- use the url for thing -->
    <!-- <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script> -->

    <!-- 
    <link rel="stylesheet" href="../5/lux/bootstrap.css">
    <link rel="stylesheet" href="../_vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../_vendor/prismjs/themes/prism-okaidia.css">
    <link rel="stylesheet" href="../_assets/css/custom.min.css"> -->

    <!-- for pythonic syntax  ifs, fors etc  -->
    <!-- block template that can be overwritten -->
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <!-- makes navbar collapseable -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="container-fluid">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Speech-Sense</a>
        </div>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          
          <li>
            <a class="nav-item nav-link" id="home" href="/">Home</a>
          </li>
          <li>
            <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          </li>

          {% else %}
          
          <li>
            <a class="nav-item nav-link" id="login" href="/login">Login</a>
          </li>
          <li>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          </li>
          
          {% endif %}
        </ul>
      </div>
    </nav>


    <!-- on base template so will flash on every child page -->
    {% with messages = get_flashed_messages(with_categories=true) %}  
      {% if messages %} 
        {% for category, message in messages %} 
          {% if category == 'error' %}
            <div class="alert alert-danger alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
          {% else %}
            <!-- changes the color to green -->
            <div class="alert alert-success alter-dismissable fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-dismiss="alert"></button>
            </div>
          {% endif %} 
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <br>
    <!-- page speciffic content shows up here -->
    <div class="container">{% block content %} {% endblock %}</div>
    
    <!-- js scripts for annimations -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

{% block javascript %}
  <script type="text/javascript">
    function deleteArticle(articleId) {
      fetch("/delete-article", {
        method: "POST",
        body: JSON.stringify({ articleId: articleId }),
      }).then((_res) => {
        window.location.href = "/admin";
      });
    }
  </script>
{% endblock %}
  </body>

  <footer class="bg-secondary">
    <br><br><br>
    <p></p>
  </footer>
</html>
